<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ship Detection</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="image_form">
        <h1>Ship Detection</h1>

        <form action="/" method="post" enctype="multipart/form-data">
            <label for="file" class="file-label">Choose File:</label>
            <input type="file" id="file" name="file" onchange="displayFileName()" accept=".jpg, .jpeg, .png">
            <span id="file-name">{{ name }}</span>
            <br>
            <div class="result-section">
                {% if error %}
                <p>{{ error }}</p>
                {% endif %}
                {% if filename %}
                <h2>Result</h2>
                <img src="{{ filename }}" alt="Result" width="750px">
                <p>Number of Ships Detected: {{ ship_count }}</p>

                <!-- Add this inside the result-section div -->
                <form action="/feedback" method="post" id="feedbackForm">
                    <h2>Feedback:</h2>

                    <label style="color: white;">Was the prediction correct?</label>
                    <div>
                        <button type="button" id="correctbutton" onclick="setPrediction('correct')">Correct</button>
                        <button type="button" id="incorrectbutton" onclick="setPrediction('incorrect')">Incorrect</button>
                    </div>
                    <label for="correct" id="correctpred" style="display:none;">Great!</label>
                    <label for="correct_ship" id="correctShipLabel" style="display: none; font-family: 'Courier New', Courier, monospace;">Thank you for letting us know!</label>
                </form>

                {% endif %}
                <input type="submit" value="Upload and Process">
            </div>

        </form>
    </div>
    
    <script>
        function displayFileName() {
            var fileInput = document.getElementById('file');
            var fileNameSpan = document.getElementById('file-name');
            fileNameSpan.textContent = fileInput.files[0].name || 'No file chosen';
            fileNameSpan.style.color = 'white';
        }

        function setPrediction(value) {
            var correctShipLabel = document.getElementById('correctShipLabel');
            var correctPrediction = document.getElementById('correctpred');
            var corrbutton = document.getElementById('correctbutton');
            var incorrbutton = document.getElementById('incorrectbutton');

            if (value === 'incorrect') {
                correctShipLabel.style.display = 'block';
                corrbutton.style.display = 'none';
                incorrbutton.style.display = 'none';
            } else {
                correctPrediction.style.display = 'block';
                corrbutton.style.display = 'none';
                incorrbutton.style.display = 'none';
            }
        }
    </script>
</body>

</html>
